<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/news">News</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:dtylor@tylordata.com.com">dtylor@tylordata.com</a></li>
        		<li><a href="https://tylordata.com">tylordata.com</a></li>
			</ul>
		</footer>
	</body>
</html>
